.App {
    text-align: center;
}

video {
    width: auto;
    height: auto;
}

.introConnectButton {
    margin: 3%;
}

.video-container {
    width: 100%;
    z-index: -1;
}

.inCallLocalVideo {
    -webkit-transform: rotateY(180deg) scale(0.4);
    transform: rotateY(180deg) scale(0.9);
    z-index: 100;
    border-radius: 0%;
    /* position: absolute;
    top: -8.8%;
    right: -10%; */
    width: calc(100% + 2px)
}

.inCallVideoRemote {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: calc(100% + 2px);
    width: calc(100% + 2px);
}

.introMId {
    margin-top: 20%;
    padding: 3%;
}

.introForm {
    padding: 3%;
}

.introVideo {
    float: right;
    margin-top: 10%;
}

.introControls {
    margin: 2%;
}

.homeVideoContainer {
    height: 480px;
    width: 640px;
}

.homeVideo {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 480px;
    width: 640px;
    border-radius: 5%;
    min-width: 20%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}