/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .introVideo {
        margin-top: 2%;
    }

    .homeVideo {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        border-radius: 5%;
        min-height: 100%;
        max-width: 100%;
        /* min-width: 20%; */
    }

    .homeVideoContainer {
        /* height: 480px;
        width: 640px; */
    }

    .stubCol1 {
        display: none;
    }

    .stubCol2 {
        display: none;
    }

    .introMId {
        padding: 3%;
    }

    .introForm {
        padding-bottom: 15%;
        margin-bottom: 5%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .introVideo {
        margin-top: 3%;
    }

    .homeVideo {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        border-radius: 5%;
        min-height: 100%;
        max-width: 100%;
    }

    .homeVideoContainer {
        /* height: 480px;
        width: 640px; */
    }

    .stubCol1 {
        display: none;
    }

    .stubCol2 {
        display: none;
    }

    .introMId {
        padding: 3%;
    }

    .introForm {
        padding-bottom: 15%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .introVideo {
        margin-top: 10%;
    }

    .homeVideo {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        /* height: 480px;
        width: 640px; */
        border-radius: 5%;
        min-width: 20%;
    }

    .homeVideoContainer {
        /* height: 480px;
        width: 640px; */
    }

    .stubCol1 {
        display: none;
    }

    .stubCol2 {
        display: none;
    }

    .introMId {
        padding: 3%;
    }

    .introForm {
        padding-bottom: 15%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .introVideo {
        /* float: right; */
        margin-top: 10%;
    }

    .homeVideo {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        border-radius: 5%;
        min-height: 100%;
        max-width: 100%;
    }

    .homeVideoContainer {
        /* height: 480px;
        width: 640px; */
    }

    .introMId {
        margin-top: 20%;
        padding: 3%;
    }

    .introForm {
        padding: 3%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .introVideo {
        /* float: right; */
        margin-top: 10%;
    }

    .homeVideo {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        height: 480px;
        width: 640px;
        border-radius: 5%;
        min-width: 20%;
    }

    .homeVideoContainer {
        /* height: 480px;
        width: 640px; */
    }

    .introMId {
        margin-top: 20%;
        padding: 3%;
    }

    .introForm {
        padding: 3%;
    }
}

.App {
    text-align: center;
}

video {
    width: auto;
    height: auto;
}

.introConnectButton {
    margin: 3%;
}

.video-container {
    width: 100%;
    z-index: -1;
}

.inCallLocalVideo {
    -webkit-transform: rotateY(180deg) scale(0.4);
    transform: rotateY(180deg) scale(0.9);
    z-index: 100;
    border-radius: 0%;
    /* position: absolute;
    top: -8.8%;
    right: -10%; */
    width: calc(100% + 2px)
}

.inCallVideoRemote {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: calc(100% + 2px);
    width: calc(100% + 2px);
}

.introControls {
    margin: 2%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}